<main class="home">
  <!-- cada <section> tem um id para âncora do menu -->
  <section id="inicio" class="sec sec-inicio">
    <app-inicio></app-inicio>
  </section>

  <section id="servicos" class="sec sec-servicos">
    <app-servicos></app-servicos>
  </section>

  <section id="equipe" class="sec sec-equipe">
    <app-equipe></app-equipe>
  </section>

  <section id="lista-servicos" class="sec sec-lista">
    <app-lista-servicos></app-lista-servicos>
  </section>

  <section id="contato" class="sec sec-contato">
    <app-contato></app-contato>
  </section>
</main>
